$mainBlue: #2f5572;

body{
    padding: 10px;
    background-color: grey;
    color: $mainBlue;
    columns: 300px 2;

}

.box {
    a {
        display:block;
        padding: 10px;
    }
}